<div class="container">
    <div class="row mt-5">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">No HP</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <% contacts.forEach((m, i) =>  { i ++%>
                    <tr>
                      <th scope="row"><%= i++ %></th>
                      <td><%= m.nama %></td>
                      <td><%= m.nohp %></td>
                      <td><a href="/detail" class="badge rounded-pill text-bg-success "><i class="bi bi-info-circle-fill my-5"></i>Detail</a></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>